input[type="datetime-local"] {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bullets {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 6vh;
  bottom: 0;
  justify-content: center;
}
.bullet {
  width: 2vmax;
  height: 2vmax;
  margin: 0.5vmax;
  background: #fff;
  border: 1px solid #aaa;
}
.nowBullet {
  background: #4ce9ed;
}


#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#pageWrapper {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pageContainer {
  display: flex;
}

.page {
  text-align: center;
}

.numberDisplay {
  width: 90vw;
  height: 7vh;
  margin: 0 calc(3vw - 1px);
  padding: 0 2vw;
  border: 1px solid #aaa;
  text-align: right;
  font-size: 4vh;
  justify-content: flex-end;
}
.numberKeyContainer {
  margin: 8vh 0;
}
.numberKey {
  width: calc(90vw / 4 - 1vw);
  height: calc(90vw / 4 - 1vw);
  margin: 0.5vmax;
  border: 1px solid #aaa;
}

.titleContainer{
  width: 100%;
  margin: 12vh 8vw;
}
.page.title .subName {
  margin: 2vh 0 0 0;
  font-size: 3.5vmax;
}
.page.title .date {
  margin: 5vh 0 0 0;
  font-size: 2.5vmax;
}

.page.stamina h1{
  font-size: 5vmax;
  margin: 8vh 0;
}


/* Font Awesome */

.iconBottle:before {

  font-family: "Font Awesome 5 Free";
  content: '\f72f';
  font-weight: 900;
}
