#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#pageWrapper {
  position: absolute;
  /* transform: translateX(-320px); */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.PageContainer {
  display: flex;
}
